body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    text-align: center;
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.logo-container {
    background-color: #0A1931;
    padding: 20px;
    border-radius: 8px;
    margin-bottom: 20px;
}

.logo {
    max-width: 150px;
}

h1 {
    color: #0A1931; 
    margin-bottom: 20px;
}

.button-container {
    display: flex;
    gap: 10px;
    justify-content: center;
}

.button {
    background-color: #0A1931;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.button:hover {
    background-color: #082244; 
}
