* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    color: #333;
}


header {
    background-color: #0B2346;
    padding: 20px;
    text-align: center;
}

.logo img {
    height: 80px;
}

.login-section {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80vh;
    background-color: #f4f4f4;
}

.login-box {
    background-color: #fff;
    padding: 40px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 300px;
    text-align: center;
}

.login-box h2 {
    margin-bottom: 20px;
    color: #0B2346;
}

.input-group {
    margin-bottom: 20px;
    text-align: left;
}

.input-group label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
    color: #333;
}

.input-group input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
}

button[type="submit"] {
    width: 100%;
    padding: 10px;
    background-color: #0B2346;
    color: #fff;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
}

button[type="submit"]:hover {
    background-color: #ff4500;
}

#loginForm p {
    margin-top: 10px;
    color: #ff4500;
    font-size: 14px;
}

a {
    color: #0B2346;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}


#error-message {
    color: red;
    font-size: 14px;
    margin-top: 10px;
}


.slide-section {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80vh;
    background-color: #0B2346;
    color: white;
}

.slide-content {
    text-align: center;
}

.slide-content h1 {
    font-size: 36px;
    margin-bottom: 20px;
}

.slide-content p {
    font-size: 20px;
}
